# Time Series with Pandas (Practice)

Kris Barbier

## Tasks:

First, load the data.

1. Convert the date column to datetime dtype. Double-check the result. Is it what you expected? If not, be sure to correct it by entering the appropriate format!
2. Set the date column as the index. Inspect the new index of your dataframe. What type of index is it? Does it have a frequency?
3. Filter out only the required data:
- Keep only data from the year 2000 or later.
- Keep only the following features:
    - precipitation
    - mean_temp
    - min_temp
    - max_temp
    - snow_depth
4. Answer the following questions using .idxmax() and .idxmin(), print statements, and the .strftime() method. Use f-strings to print the following statements (with the blanks filled in):

a) "The lowest temperature of {max temp} degrees occurred on {date as "MonthName 2-digit-day, 4-digit year. } which was a {day of the week}."

b) "The highest daily precipitation of {max preciptation} inches occurred on {date as "MonthName 2-digit-day, 4-digit year. } which was a {day of the week}."

In [1]:
#Imports
import pandas as pd
import datetime as dt

In [2]:
#Read in data
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT_jChgNsQbHbg4TGepzIqk8XC9DTIKmyyxb1upo5cfZCgbfIUQc2ZC0YMzuU5uApP140Ob49KBjdqh/pub?gid=1198589591&single=true&output=csv"
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

In [3]:
#Look at samples to determine datetime format
df['date'].sample(n=10).sort_index()

2914     19861224
4645     19910920
4924     19920625
6118     19951002
7056     19980427
11074    20090427
12020    20111129
12553    20130515
13035    20140909
13099    20141112
Name: date, dtype: int64

- Need to use the format yyyy-mm-dd.

In [4]:
#Convert date column to datetime dtype
df['date'] = pd.to_datetime(df['date'], format = '%Y%m%d')

In [5]:
#Set date as index
df = df.set_index('date')
df.head()

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
1979-01-03,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
1979-01-04,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

- This index has a frequency of 1 day between rows.

In [6]:
#Filter out data after 2000 and keep only specified columns
df = df.loc['2000':, ['precipitation', 'mean_temp', 'min_temp', 
                      'max_temp', 'snow_depth']]
df

            precipitation  mean_temp  min_temp  max_temp  snow_depth
date
2000-01-01            0.0        7.0       4.9      10.8         0.0
2000-01-02            0.2        7.9       5.0      11.5         0.0
2000-01-03            6.0        9.4       7.2       9.5         0.0
2000-01-04            0.2        7.0       4.4      11.0         0.0
2000-01-05            0.8        6.4       1.9      10.8         0.0
...                   ...        ...       ...       ...         ...
2020-12-27            2.0        7.5       7.6       7.5         NaN
2020-12-28            0.2        1.1      -1.3       3.6         NaN
2020-12-29            0.0        2.6       1.1       4.1         NaN
2020-12-30            0.0        2.7      -0.1       5.6         NaN
2020-12-31            0.0       -0.8      -3.1       1.5         NaN

[7671 rows x 5 columns]

- a) "The lowest temperature of {max temp} degrees occurred on {date as "MonthName 2-digit-day, 4-digit year. } which was a {day of the week}."

In [10]:
#Find lowest temp day
date_min_temp = df['min_temp'].idxmax()
min_temp = df['min_temp'].max()

print(f"The lowest temperature of {min_temp} degrees occurred on {date_min_temp.strftime('%B %d%, %Y')} which was a {date_min_temp.strftime('%A')}.")

The lowest temperature of 22.3 degrees occurred on July 20, 2016 which was a Wednesday.

- b) "The highest daily precipitation of {max preciptation} inches occurred on {date as "MonthName 2-digit-day, 4-digit year. } which was a {day of the week}."

In [11]:
#Find highest precipitation day
date_max_precip = df['precipitation'].idxmax()
max_precip = df['precipitation'].max()

print(f"The highest daily precipitation of {max_precip} inches occurred on {date_max_precip.strftime('%B %d, %Y')} which was a {date_max_precip.strftime('%A')}.")

The highest daily precipitation of 51.6 inches occurred on August 26, 2015 which was a Wednesday.